body{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.proceso{
  margin-top: 10em;
  width: 30%;
}

.proceso1,.proceso2,.proceso3,.proceso4,.proceso5,.proceso6,.proceso7,.proceso8{
  display: none;
  position: relative;
  width: 50%;
  height: 20em;
  margin: 0 auto;
}

.proceso8{
  top: 8em;
}

.proceso5{
  margin-top: 11em;
}

#botella_4_1,#botella_4_2,#botella_4_3{
  width: 2em;
  height: 2em;
  z-index: 4;
}

#maquina_4_1,#maquina_4_2,#maquina_4_3{
  position: absolute;
}

#etiqueta_tanque{
  text-align: center;
  width: 20em;
  position: absolute;
  top: 0em;
  left: -7em;
}

#etiqueta_tanque h3{
  padding: 0;
  margin: 0;
  display: inline-block !important;
}

#botella_5_1,#botella_5_2,#botella_5_3,#botella_5_4{
  width: 1.5em;
  height: 1.5em;
  z-index: 4;
  position: absolute;
  top: 2.5em;
}

#botella_5_2{
left: 3em;
}

#botella_5_3{
top: 16.5em;
left:1.5em;
}

#botella_5_4{
top: 16.5em;
left: 4.5em;
}

#cinta_5_1,#cinta_5_2,#cinta_5_3{
height: 4.5em;
width: 19.5em;
z-index: 3;
top: 1em;
}

#cinta_5_2{
  top: 15em;
}
#cinta_5_3{
  height: 9em;
  top: 6em;
  left: 12em;
}

#brazo_top,#brazo_bot{
width: 100%;
height: 40%;
z-index: 4;
}

#brazo_top{
  position: relative;
  left: 12em;
  top: -6em;
}

#brazo_bot{
  position: relative;
  left: 12em;
  top: 11em;
}

#botella_6_1,#botella_6_2,#botella_6_3{
  width: 6em;
  height: 5em;
  top:-2.3em;
  z-index: 10;
}

#botella_6_1{
  left: 4em;
  position: relative;
}

#botella_6_2{
  left: 2em;
  position: absolute;
}

#botella_6_3{
  position: absolute;
}

#cinta_6_2,#cinta_6_3{
position: absolute;
width: 15em;
height: 3em;
}

#cinta_6_2{
top: 2em;
}

#cinta_6_3{
top:19em;
width: 20em;
left: 25em;
}

#cinta_6_1{
width: 20em;
height: 15em;
left: 11em;
top: 2em;
}

#caja_6{
left: 29em;
top: 12em;
width: 11em;
height: 8em;
z-index: 11;
}

#selladora_cuerpo{
  left:40em;
  top: 6em;
  width: 8em;
}

#selladora_cabeza{
  left: 39.6em;
  top:15em;
  z-index: 10;
  height: 4em;
  width: 8em;
}

#cinta_7{
top: 25em;
width: 40em;
height: 5em;
}

#caja_7{
  width: 11em;
  height: 8em;
  top: 18em;
  left: 22em;
}

#cinta_8{
      left: 14em;
    top: 6em;
    z-index: 5;
    height: 10em;
    width: 14em;
}

#caja_8_1,#caja_8_2{
  width: 2em;
  height: 2em;
  -webkit-transform: rotate(10deg);
}

#caja_8_1{
  top: 4.8em;
    z-index: 10;
    left: 14em;
}

#caja_8_2{
      z-index: 10;
    top: 6.7em;
    left: 17em;
}

#fabrica{
  width: 20em;
  height: 15em;
}

#camion{
 top: 11em;
    left: 27em;
    width: 14em;
    height: 6em;
    z-index: 20;
}

img{
  position: absolute;
  width: 8em;
  height: 10em;
}
